<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

		<form method="post" action="/piglatinize">
		  <p>Enter your phrase:: <input type="text" name="user_phrase"></p>
		  <br>
		  <!-- <input type="submit" value="submit"/> -->
      <button type="submit" value="submit">Submit</button>
		</form>
  
  </body>
</html>